@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";

#main{
    #section-b{
        justify-content: center;
        .about-wrapper{
            width: 90%;
            margin: 0 auto;

            .text-wrapper{
                margin-top:25px;
                p{
                    font-size:18px;
                    line-height:26px;   
                }
                .seperator{
                    border:0.5px dashed #ea3434;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media(min-width: 700px){
    body{
        #main{
            .about-wrapper{
                grid-column: 2;
            }
        }
    }
}
@media(min-width: 1024px){
    body{
        #main{
            .about-wrapper{
            }
        }
    }
}

@media(min-width: 1280px){
    body{
        #main{
            .about-wrapper{
                width:70%;
            }
        }
    }
}


