@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";

#section-b{
    padding:5em 0;
    position: relative;
}
.events-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/public/img/freelo_guitar_guy.jpeg") no-repeat center center;
    background-size: cover;
    z-index: -1;
    filter:blur(1px);
}
#events-wrapper{
    z-index:1;
    background: rgba(42,42,42,0.85);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    color:#eaeaea;
    width:100%;
    margin: 0 auto;
    ul{
        list-style: none;
        margin:0;
        padding:0;
        li{
            display:grid;
            grid-template-columns: repeat(5, 1fr);
            border-bottom: 1px solid #ccc;
            font-family: $Montserrat;
            font-weight:300;
            &:first-child{
                background: rgba(42,42,42,0.95)
            } 
            &:last-child{
                border-bottom: none;
            }
            div{
                padding: 1em 0.5em;
                display: flex;
                align-items: center;
            }
        }
        .date, .city{
            justify-content: center;
        }
        .location{
            font-size:16px;
        }
        .city{

        }
        .reserve{
        }
        .btn{
            border:1px solid #eaeaea;
            padding:1em;
            color:#eaeaea;
            border-radius:0;
            @include transition(0.25s);
            &:hover{
                background: #eaeaea;
                border:1px solid #ea3434;
                padding:1em;
                color:#ea3434;
            }
        }
        .events-header{
            grid-column: 1/3;
            padding: 0 0.5em;
            h6{
                font-size: 12px;
                font-weight: 200;
                span{
                    color:#aaa;
                }
            }
        }
    }

}

@media(min-width: 700px){
    body{
        #events-wrapper{
            grid-column: 2;
        }
    }
}
@media(min-width: 1024px){
    body{
        #events-wrapper{
            .events-header{
                padding: 0 1.5em;

                h6{
                    font-size:14px;

                    span{
                        font-style: italic;
                    }
                }
            }

            .reserve, .ticket{
                justify-content: center;
            }
            .btn{
                padding: 1em 1.5em;
                
                &:hover{
                    padding: 1em 1.5em;
                }
            }
        }
    }
}

@media(min-width: 1280px){
    body{
        #events-wrapper{
            width:70%;

            ul{
                li{
                    font-size:20px;
                    font-weight:400;
                }
            }

            .btn{
                font-size:18px;
            }
        }
    }
}