@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";
@import "scss/fa-solid.scss";
// Section-B
#section-b{
    padding:0;
    .content{
        display:grid;
        grid-template-columns: 1fr 1fr;
        max-height:500px;
        #biography{
            background:#fff;
            padding:2.5em;
            margin-left:1.5em;
            font-family: $Montserrat;
            height: 500px;
            h3{
                font-size:35px;
                position: relative;

                span{
                    border-bottom: 3px solid #ea3434;
                    width: 8%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            p{
                font-size:16px;
                line-height: 26px;
                padding:2.5em 0;
            }
            .inspiration{
                display:flex;
                justify-content: flex-end;
                h6{
                    width: 60%;
                    padding:0;
                    font-size: 20px;
                    line-height: 28px;
                    font-style: italic;
                    font-weight: 600;
                    text-align: right;
                }
            }
        }
        .poster{
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 100%;
            }
        }
    }
}
// Section-C
#section-c{
    min-height:500px;
    background: url("/public/img/mixer.jpeg") no-repeat center center;
    background-size: cover;
    position: relative;
    padding:4em 0;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        display:inline-block;
        color:#eaeaea;
        border-bottom:2px solid #ea3434;
        padding:0;
        font-family: $Montserrat;
    }
    .content{
        position: relative;
        z-index: 3;
    }
    .more-btn{
        display:inline-block;
        color:#2a2a2a;
        background: #eaeaea;
        font-size:20px;
        margin-top:3em;
        border: 1px solid #2a2a2a;
        padding:1em 2.5em;
        text-decoration: none;
        @include transition(0.25s);

        &:hover{
            text-decoration: underline;
            color:#fff;
            background:#ea3434;
            border: 1px solid #fff;
        }
    }
    .hover{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background: url("/public/img/overlay.png") repeat scroll left top rgba(255, 255, 255, 0.3);
        z-index:2;
    }

    #singles{
        left:0;
        top:0;
        width:100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .single{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:2em 0;

            .cover-img{
                overflow:hidden;
                position: relative;
                width: 300px;
                height:300px;
                img{
                    background-size: cover;
                    background-position: center center;
                }
                .play-wrapper{
                    position: absolute;
                    display: flex;
                    background: rgba(0,0,0,0.6);
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    a{
                        text-decoration: none;
                        color:#fff;
                        font-size:60px;
                        @include transition(0.25s);
    
                        &:hover{
                            color:#ea3434;
                            cursor: pointer;
                        }
                    }
                }
            }
            .single-desc{
                padding:1em 0;
                h5,h6{
                    padding:0;
                }
                h5{
                    font-size: 20px;
                    color: #eaeaea;
                    font-weight: bold;
                }
                h6{
                    font-size:18px;
                    color:#eaeaea;
                    font-style:italic;
                }
            }
            .full-track{
                text-align: center;
                a{
                    display: block;
                    background: #eaeaea;
                    border:1px solid #2a2a2a;
                    padding: 1em 1.5em;
                    color:#2a2a2a;
                    @include transition(0.25s);

                    &:hover{
                        color:#fff;
                        background: #ea3434;
                        border: 1px solid #fff;
                    }
                }
            }
        }
    }
}

// Section-D
#section-d{
    background: #ea3434;
    padding: 4em 2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        padding:0;
        color:#fff;
        display:inline-block;
        font-family: $Montserrat;
        font-weight:300;
        border-bottom:2px solid #fff;
    }
    #gallery{
        margin:2em 0;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;

        .gallery-image{
            display:flex;
            height:300px;
            overflow:hidden;
            justify-content: center;
            align-items: center;
            a{
                text-decoration:none;
                display:block;
                width: 100%;
                height:100%;
                img{
                    height: 100%;
                    background-size:cover;
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                    @include transition(0.5s);
                }

                &:hover{
                    img{
                        filter: grayscale(0%);
                        -webkit-filter: grayscale(0%);
                        transform: scale3d(1.2,1.2,1);
                        -webkit-transform: scale3d(1.2,1.2,1);
                    }
                }
            }
        }
    }
}

// Section-E
#section-e{
    border-top:1px solid #fff;
    #contact-form{
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $Montserrat;

        .contact-title{
            padding: 0 0 0.5em 0;
            border-bottom:2px solid #eaeaea;
            margin-left:0;
            font-weight: 300;
            font-size:30px;
        }
        .name-email{
            display:grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            margin:2.5em 0 1.5em;
            font-size:20px;
            .name{
                padding-right:1em;
            }
            .email{
                padding-left:1em;
            }
            input{
                padding: 0.4em 0.5em;
                box-shadow: inset 1px 1px 4px #2a2a2a;
                border: none;
                border-radius:3px;
                font-size: 16px;
                width: 100%;
            }
        }
        .message-wrapper{
            width: 100%;
        }
        label{
            margin-bottom:0.5em;
            padding-bottom:0.5em;
            font-weight:300;
            font-style:italic;
            font-size:20px;
        }
        textarea{
            width: 100%;
            resize: none;
            border-radius: 3px;
            box-shadow: inset 1px 1px 4px #2a2a2a;
        }
        
    }
}