@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";
@import "scss/fa-solid.scss";

#main{
    // Media wrapper
    #media-wrapper{
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 2fr;
        grid-template-areas: 
            "media-control media-control media-control media-control media-control"
            "media-content media-content media-content media-content media-content";
        font-family: $Montserrat;
    }
    // Media controller
    #media-control{
        grid-column: 1/6;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-area: media-control;
        .media-btn{
            text-align: center;
            font-family: $Montserrat;
            a{
                display: inline-block;
                font-size:20px;
                color:#2a2a2a;
                padding:0.5em 1.5em;
                border-bottom:1px solid #2a2a2a;
                text-decoration: none;
                @include transition(0.25s);
                &:hover{
                    color: #ea3434;;
                    border-bottom:1px solid #ea3434;
                }
                &.active{
                    color: #ea3434;;
                    border-bottom:1px solid #ea3434;
                }
            }
        }
    }
    //Media content
    #media-content-wrapper{
        width:80%;
        grid-column: 1/6;
        display:grid;
        margin:1.5em auto;
        border:1px solid #000;
        background: rgba(42,42,42,0.9);
        grid-area: media-content
    }
    #video-player{

    }
    #music-player{
        #player-header{
            position: relative;
            img{
                width:100%;
            }
            #song-info{
                position: absolute;
                bottom:0;
                width:100%;
                z-index:3;
                h5,h6{
                    color:#fff;
                    text-align: center;
                }
                .info-wrapper{
                    position: relative;
                    overflow: hidden;
                    border-top:1px solid #fff;
                }
                .info{
                    position: relative;
                    z-index:3;

                    h5{
                        padding: 0.5em;
                        font-size:20px;
                        font-weight: 300;
                    }
                    h6{
                        padding: 0.3em;
                        font-style: italic;
                        color:#cecece;
                    }
                }
                .blur{
                    position:absolute;
                    width:100%;
                    left:0;
                    bottom:0;
                    z-index: 1;
                    img{
                        position: absolute;
                        filter: blur(1.5px) grayscale(100%);
                        width:100%;
                        bottom:0;
                    }
                }
            }
        }
        #player-control{
            background: #eaeaea;
            padding:1em 0;
            border-bottom:1px solid #fff;
            #time-control{
                display: grid;
                grid-template-columns: 1fr 60% 1fr;
                .current-time{
                    grid-column: 1;
                    text-align: center;
                    color:#2a2a2a;
                }   
                .seeker-bar-container{
                    grid-column: 2;
                    display: grid;
                    align-content: center;

                    .seeker-bar{
                        position: relative;
                        height: 2px;
                        width: 100%;
                        background: #888;
                        .filler{
                            position: absolute;
                            left:0;
                            max-width: 100%;
                            background: #2a2a2a;
                            height: 2px;
                            width:30%;
                            z-index: 2;
                        }
                        .handler{
                            position: absolute;
                            left:30%;
                            top:-8px;
                            width: 16px;
                            height: 16px;
                            border-radius: 15px;
                            background:#ea3434;
                            border: 1px solid #2a2a2a;
                            z-index:3;
                        }
                    }
                }
                .song-duration{
                    grid-column: 3;
                    text-align: center;
                    color:#2a2a2a;
                }
            }
            #play-control{
                display: grid;
                grid-template-columns: repeat(5,1fr);
                margin-top:1em;
                .control-btn{
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    a{
                        display: flex;
                        color:#2a2a2a;
                        text-decoration: none;
                        align-items: center;
                        justify-content: center;

                        &:hover{
                            color:#ea3434;
                            cursor: pointer;
                        }
                        &:hover.circle-border{
                            border:1px solid #ea3434;
                        }
                    }

                    i{
                        font-size:20px;
                    }
                    .shuffle, .repeat{
                        font-size:16px;
                    }
                }
                .circle-border{
                    width: 50px;
                    height: 50px;
                    border:1px solid #2a2a2a;
                    border-radius: 50px;
                }
            }
        }
        #song-list{
            ul{
                list-style: none;
                padding:0;
                margin:0;

                li{
                    color:#fff;
                    border-bottom:1px solid #ccc;

                    a{
                        display:block;
                        padding:1.5em 1.5em;
                        text-decoration: none;
                        color:#fff;
                        font-weight: 300;
                        @include transition(0.25s);
                        &:hover{
                            background: rgb(42,42,42);
                            text-decoration: underline;
                        }

                        span{
                            color:#aaa;
                            font-style:italic;
                            font-size:14px;
                        }
                    }

                    &:last-child{
                        border-bottom:none;
                    }
                }
            }
        }
    }

    .list-wrapper{
        ul{
            list-style: decimal;
            margin:0;
            padding:0;
            li{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-areas: 
                    "thumbnail thumbnail description description description";
                border-bottom:1px solid #ccc;

                &:last-child{
                    border-bottom:none;
                }
                .video-thumbnail{
                    grid-area: thumbnail;
                    .img-wrapper{
                        display:block;
                        position: relative;
                        margin:1em auto;
                        width:70%;
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        -moz-filter: grayscale(100%);
                        @include transition(0.25s);

                        &:hover{
                            filter: grayscale(0);
                            -webkit-filter: grayscale(0);
                            -moz-filter: grayscale(0);
                        }
                        img{
                            width:100%;
                            background-size:cover;
                            background-position: center center;
                        }
                        .duration{
                            position: absolute;
                            right:0.5em;
                            bottom:0.5em;
                            background: #2a2a2a;
                            padding: 0.15em 0.3em;
                            color:#eaeaea;
                        }
                    }
                }
                .video-description{
                    display: block;
                    grid-area: description;
                    margin: 1em 1em 1em 0;
                    font-family: $Montserrat;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    a,h6{
                        color:#fff;
                        display:block;
                        padding: 0;
                        font-size:16px;
                        line-height:24px;
                        font-weight: 300;
                    }
                    h6{
                        font-size:14px;
                        color:#cccccc;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

@media(min-width:700px){
    body{
        #main{
            #media-wrapper{
                grid-column:2;
            }

            #music-player{
                #player-header{
                    #song-info{
                        .info{
                            h5{
                                font-size:24px;
                                line-height:22px;
                            }
                            h6{
                                font-size:14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1024px){
    body{
        #main{
            #media-wrapper{
                grid-column:2;

                #media-control{
                    .media-btn{
                        a{
                            font-size:26px;
                            border-bottom:2px solid #2a2a2a;

                            &.active{
                                border-bottom:2px solid #ea3434;
                            }
                        }
                    }
                }

                #video-player{
                    .list-wrapper{
                        ul li{
                            grid-template-columns: repeat(4, 1fr);
                            grid-template-areas: 
                                "thumbnail description description description";
                        }
                    }
                }

                #music-player{
                    #player-header{
                        #song-info{
                            .info{
                                h5{
                                    font-size:30px;
                                    line-height:28px;
                                }
                                h6{
                                    font-size:16px;
                                }
                            }
                        }
                    }
                    #player-control{
                        #time-control{
                            padding:0.5em 0;
                            .current-time, .song-duration{
                                font-size:22px;
                            }
                        }
                        #play-control{
                            .control-btn{
                                a{
                                    i{
                                        font-size:24px;
                                    }
                                    .shuffle, .repeat{
                                        font-size:20px;
                                    }
                                }
                                .circle-border{
                                    width:70px;
                                    height: 70px;
                                    border-radius: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:1280px){
    body{
        #main{
            #media-wrapper{
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}