@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";

#main{
    h1{
        grid-column: 1/4;
        text-align: center;
        min-height: 200px;
    }
}