@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";

#main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr;
    grid-template-areas:
        "showcase showcase showcase"
        "section-a section-a section-a"
        "section-b section-b section-b"
        "section-c section-c section-c"
        "section-d section-d section-d"
        "section-e section-e section-e";
}
// Showcase
#showcase{
    min-height:450px;
    text-align:center;
    grid-area: showcase;
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay{
        position: absolute;
        background: url("/public/img/overlay.png")repeat scroll left top;
        left:0;
        top: 0;
        width: 100%;
        height: 450px;
        z-index: -1;
    }
    .bg-image{
        position: absolute;
        background: #333 url("/public/img/guy-with-guitar.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 450px;
        z-index:-2;
        opacity: 1;
    }

    .quote{
        position: relative;
        width:80%;
        margin: 0 auto;
        z-index: 2;
        font-family: 'Tangerine', cursive;
        p{
            font-size:50px;
            line-height: 50px;
            padding-bottom:0;     
            color:#fff;
        }

        h2{
            padding:0 1em 0 0;
            font-size:30px;
            text-align: right;     
            color:#fff;
            text-decoration:underline;
        }
    }
}
// section-a
#section-a{
    background: #eb3434;
    grid-area: section-a;
    .content-wrap{
        width:90%;
        margin: 0 auto;

        ul{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            margin:0;
            padding: 0;
            li{
                flex:1;
                height: inherit;
                a{
                    display:flex;
                    padding:1em 0;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size:16px;
                    line-height: 20px;
                    text-decoration:none;
                    color:#fff;
                    border-bottom:2px solid #eb3434;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        background: #fff;
                        color:#2a2a2a;
                        border-bottom:2px solid #2a2a2a;
                        @include transition(0.5s);
                    }
                }
            }
        }
    }
}
// section-b
#section-b{
    padding:2em 0;
    grid-area: section-b;
    .content-wrap{
        .video-wrapper{
            width:90%;
            margin: 0 auto;
        }
    }
}
// section-c
#section-c{
    padding:2em 0;
    background: #eaeaea;
    text-align: center;
    grid-area: section-c;
    ul{
        width:90%;
        margin:0 auto;
        padding: 0;
        list-style: none;
        li{
            .card{
                background: #fff;
                padding:1em;
                margin-bottom:40px;
                box-shadow: #2a2a2a 2px 2px 5px;
                //padding-bottom:3em;
                .card-content{
                    text-align: left;
                    padding-left:0.5em;
                    .card-title{
                        display:inline-block;
                        border-bottom:1px solid #eb3434;
                        padding:0.75em 0 0.25em 0;
                    }

                    .control-wrapper{
                        margin:15px 0 30px 0;
                        display:flex;

                        div{
                            flex:1;
                        }
                        div:last-child{
                            text-align:right;
                        }
                    }
                }
            }
        }
    }
    .view-more{
        margin-top:2em;
        display: inline-block;
        color:#2a2a2a;
        font-size:20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        text-decoration: none;
        border-bottom: 1px solid #eb343400;
        padding:0 1em 0.5em 1em;

        &:hover{
            color:#eb3434;
            border-bottom: 1px solid #eb3434;
            @include transition(0.25s);
        }
    }
}
// section-d
#section-d{
    background: #eb3434;
    color:#eaeaea;
    grid-area: section-d;
    .content-wrap{
        padding-bottom:1em;
    }
    h2,h3{
        text-align:center;
        text-transform: uppercase;     
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    h3{
        padding-top:1.2em;
        font-size:12px;
        font-style: italic;
    }
    form{
        width:70%;
        display: flex;
        margin: 0 auto;
        color:#2a2a2a;

        .email-input{
            flex:4;
            border:1px solid #2a2a2a;
            border-radius:6px 0 0 6px;
            padding:10px;
            
        }

        .submit-btn{
            flex:1;
            border-radius: 0 6px 6px 0;
            border:1px solid #2a2a2a;
            background: #2a2a2a;
            color:#fff;
            font-weight: bold;

            &:hover{
                background: #fff;
                color:#2a2a2a;
            }
        }
    }
}
// section-e
#section-e{
    padding:2em 0;
    background: #a31919;
    color:#eaeaea;
    font-family: $Montserrat;
    font-weight: 200;
    grid-area: section-e;
        .contact-title{
            display: inline-block;
            margin-left:5%;
            padding:0;
            border-bottom:2px solid #fff;
        }
        form{
            width:90%;
            margin: 1em auto;
            label{
                display:block;
            }
            input{
                display:block;
                color:#2a2a2a;

                &:focus{
                    box-shadow: 0 0 0 rgba(255,255,255,0);
                }
            }
            textarea{
                width:80%;
                min-height: 5em;
                max-height: 10em;
                resize: vertical;
                margin:1em 0;
                color:#2a2a2a;
                padding:0.5em;
            }

            .contact-input{
                padding:0.5em;
                margin:1em 0;
                width:80%;
                border:1px solid #2a2a2a;
                border-radius: 0.3em;
            }

            .contact-submit-btn{
                margin-top:1em;
                border-radius:0;
                padding:0.5em 1.5em;
                color:#eaeaea;
                background:#2a2a2a;
                border:1px solid #2a2a2a;
                font-size:20px;

                &:hover{
                    color:#2a2a2a;
                    background: #fff;
                    @include transition(0.25s);
                }
            }
        }
}
// Read more
.read-more{
    padding:0.5em;
    border:1px solid #2a2a2a;
    color:#2a2a2a;
    text-decoration:none;

    &:hover{
        color:#fff;
        background: #eb3434;
        @include transition(0.25s);
        text-decoration:none;
    }
}

// Footer
#main-footer{
    position: relative;
    z-index: 1;
    background: #2a2a2a;
    h4{
        color:#fff;
    }
    .icons-wrapper{
        text-align: center;

        .social-btn{
            min-width: 30px;
            border: solid 1px rgba(255,255,255,0);
            background: rgba(255,255,255,0);
            border-radius: 6px;
            padding:2px;
            margin: 1em 0;
            margin-right:15px;
            color:#fff;
            font-size: 24px;
            display:inline-block;

            &:hover{
                border: solid 1px rgba(255,255,255,1);
                background: rgba(255,255,255,1);
                @include transition(0.25);
            }
        }
    }
    .socials-wrapper{
        border-bottom:solid 1px rgb(236, 236, 236);      
    }
    
    .rights-wrapper{
        text-align: center;
        padding:10px 0;
        p{
            margin:0;
            display:inline-block;
            color:#fff;
            font-family: $Montserrat;
            font-size:12px;
        }
    }

    // Warning
    .warning-wrapper{
        text-align: center;
        p{
            margin:0 0 1em 0;
            color:#fff;
            font-family: $Montserrat;
            font-size: 12px;
        }
        a{
            display:inline-block;
            margin-bottom:25px;
            color:#ddd;
            text-decoration: underline;
            &:hover{
                color:#fff;
                @include transition(0.25s)
            }
        }
    }
    // Instagram button
    .insta{
        &:hover{
            color:rgb(76, 76, 76);
        }
    }
    // Facebook button
    .fb{
        &:hover{
            color:rgb(59,89,152);
        }
    }
    // Twitter button
    .twitter{
        &:hover{
            color:rgb(29, 161, 242);
        }
    }
    // Google +
    .google-plus{

        &:hover{
            color:rgb(219, 68, 55);
        }
    }
    // Spotify
    .spotify{

        &:hover{
            color: rgb(29,185,84);
        }
    }
}

// Media Query
@media(min-width: 700px){
    body{
        #main{
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: 6fr;
            grid-template-areas:
                "showcase"
                "section-a"
                "section-b"
                "section-c"
                "section-d"
                "section-e";
        }
        #showcase{ 
            .quote{
                grid-column: 2 / 3;
                width: 100%;
            }   
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr minmax(80%, 70%) 1fr;
            
        }
        .content-wrap{
            grid-column: 2 / 3;
        }
        #section-b{
        }
        #section-c{
            .content-wrap{
            }
        }

        #section-e{
            .contact-title{
                margin-left:15%;
            }
            #contact-form{
                width:70%;
            }
        }
        
    }
};

@media(min-width: 400px){
    #section-d{
        .content-wrap{
            h3{
                font-size:14px;
            }
        }
    }
};

@media(min-width: 1024px){
    body{
        
        #section-b
        { 
            .content-wrap{ 
                .video-wrapper{
                    width:70%;
                }
            }
        }
        
        #section-c{
            .content-wrap{
                .news-wrapper{
                    width: 75%;
                    margin: 0 auto;

                    .card-title{
                        font-size:26px;
                    }

                    .control-wrapper{
                        font-size:20px;
                        margin-top:30px;
                    }

                    .card-content{
                        p{
                            font-size: 18px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
        #section-d{
            .email-input{
                width:50%;
            }
        }
        #section-e{
            .contact-title{
                margin-left:25%;
            }
            #contact-form{
                width:50%;
            }
        }
    }
};

@media(min-width: 1280px){
    body{
        #showcase{ 
            .quote{
                grid-column: 2 / 3;
                width:50%;
            }   
        }
        #section-a{
            .content-wrap{
                width:70%;

                ul{
                    li{
                        a{
                            font-size: 20px;
                            padding: 1.5em 0;
                        }
                    }
                }
            }
        }
    }
};
