@import "compass";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_base.scss";
@import "scss/fontawesome.scss";
@import "scss/fa-brands.scss";
@import "scss/fa-solid.scss";
@import "scss/fa-regular.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* needed for container min-height */
}
.fixed-bg{
    position: fixed;
    background: url("/public/img/poster.jpeg") no-repeat center center;
    background-size: cover;
    z-index: 1;
    min-height: 100%;
    width:100%;
}
#main{
    position: relative;
    z-index:2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "menu content";
    height: auto !important; /* real browsers */
    min-height: 100%; /* real browsers */

    #menu-wrapper{
        grid-area: menu;
        border-right: 3px solid #eaeaea;
        background: #2a2a2aaa;
        position: relative;
        #menu{
            position: fixed;
            width: 20%;
            min-height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr 1fr;
            ul{
                padding: 5em 0;
                margin:0;
                grid-row: 2/3;
                display: grid;
                list-style: none; 
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a{
                        display:block;
                        padding:1em 1.5em;
                        color:rgba(200, 200, 200,1);
                        border-bottom: 1px solid #ffffff00;
                        font-family: $Montserrat;
                        text-shadow: 1px 1px 2px rgba(255,255,255,0);
                        font-size:18px;
                        text-decoration: none;
                        box-shadow: 0 2px 5px rgba(255,255,255,0);
                        @include transition(0.25s);
                        &:hover{
                            text-shadow: 1px 1px 2px rgba(255,255,255,1);
                            box-shadow: 0 1px 5px rgba(255,255,255,1);
                            //color:rgba(255, 255, 255, 1);
                            border-bottom: 1px solid rgba(200, 200, 200,1);
                            cursor:painter;
                        }
                    }
                }
            }
        }
        
    }

    #content-wrapper{
        grid-area: content;
        background: #2196F33d;
        display:flex;
        padding: 2em 5em;
        .content-container{
            position: relative;
            width: 100%;
            min-height: 100%;
            padding:0;
            background: rgba(255,255,255,0.9);
            border:1px solid #000;
            .title{
                //grid-area: title;
                min-height: 100px;
                background: #ea3434;
                h1{
                    text-align:center;
                    font-family: $Montserrat;
                    color:#fff;
                    font-weight: 400;   
                }

                
            }
            #content{
                //grid-area: news-content;
                ul{
                    list-style: none;
                    padding:0 2em;
                    margin:0;
                    li{
                        display:grid;
                        grid-template-columns: 1fr 2fr 3fr 1fr 2fr;
                        border-bottom:1px solid #777;
                        font-family:$Montserrat;
                        font-size:14px;
                        div{
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            padding:0.3em 1em;
                            border-right: 1px solid #ccc;
                        }
                        div:first-child{
                            border-left: 1px solid #ccc;
                        }
                        .item-title{
                            justify-content: flex-start;
                        }
                        .item-context{
                            justify-content: flex-start;
                        }
                        .item-date{
                            padding:0.5em 0.5em;
                        }
                        .controls{
                            display:grid;
                            padding: 0;
                            grid-template-columns: 1fr 1fr;
                            div{
                                border:none;
                                flex-direction: column;
                                span{
                                    display:block;
                                    font-size:10px;
                                    color:#666;
                                    font-style: italic;
                                    padding-top:0.2em;
                                }
                            }
                            .action-btn{
                                text-align: center;
                                padding:0.5em 0 0.2em 0;
                                a{
                                    color:#2a2a2a;
                                    padding: 0.5em;
                                    background: #fff;
                                    border-radius: 6px;
                                    text-decoration: none;
                                    font-size:20px;
                                    @include transition(0.25s);

                                    &:hover{
                                        background:#ea3434;
                                        color:#fff;
                                    }
                                }
                            }
                        }

                        .center{
                            text-align: center;
                            justify-content: center;
                        }
                    }
                    li:first-child{
                        div{
                            border-right:none;
                            border-left:none;
                            padding: 1em 0;
                            font-weight: 500;
                            font-size:18px;
                        }
                    }
                }
                #news-form{
                    font-family: $Montserrat;
                    margin: 0 auto;
                    padding: 1.5em 0;
                    width:70%;
                    label, input{
                        display:block;
                        font-weight: 500;
                    }
                    textarea{
                        resize: vertical;
                        min-height: 100px;
                        max-height: 300px;
                    }
                    label{
                        margin: 1em 0;
                        font-size:20px;
                        line-height:25px;
                    }
                    .title-input, .context-input{
                        width: 80%;
                        padding:0.5em 1em;
                        border: 1px solid #2a2a2a;
                        box-shadow: inset 1px 1px 5px #999;
                    }
                    .publish-btn{
                        margin:1.5em 0;    
                        border: 1px solid #2a2a2a;
                        padding: 1em 1.5em;
                        box-shadow: 0 1px 3px #2a2a2a00;
                        @include transition(0.25s);
                        &:hover{
                            background: #ea3434;
                            color:#fff;
                            box-shadow: 0 1px 3px #2a2a2a;
                        }
                    }
                }
            }
            .paginator{
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                ul{
                    display: flex;
                    padding:0;
                    margin:0;
                    flex-direction: row;
                    list-style: none;
                    
                    li{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px; 
                        margin: 0 0.3em;
                        font-size:20px;
                        border-radius: 15px;
                        @include transition(0.25s);

                        &:last-child,
                        &:first-child{
                            background:rgba(255,255,255,0);
                            
                        }

                        a{
                            color:#2a2a2a;
                        }

                        &.active{
                            a{
                                color:#fff;
                                background: #ea3434;
                                border:1px solid #ea3434;
                            }
                        }
                    }
                }
                //grid-area:pagination;
            }
            .add-news{
                position: absolute;
                right:2%;
                top:2em;
                background:#fff;
                width:40px;
                height: 40px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                a{
                    color:#ea3434;
                    font-size:20px;
                }
            }
        }
    }
}

#_react_component{
    width:100%;
}