{{set . "Title" "About" }}
{{ append . "moreStyles" "style.css"}}
{{ append . "moreStyles" "about.css"}}
{{ template "header.html" .}}

<!-- Main -->
<main id="main">
    {{ template "custom-header.html" .}}
    <!-- section b -->
    <section id="section-b" class="grid">
        <div class="about-wrapper">
            <div class="image-wrapper">
                <img src="public/img/about.jpeg" alt="My picture" />
            </div>
            <div class="text-wrapper">
                <p>
                    Enim ut in sint proident. Nostrud consectetur excepteur consectetur et cupidatat laborum ullamco duis. 
                    Amet deserunt adipisicing tempor pariatur deserunt anim adipisicing sunt laboris laboris qui aute. 
                    Irure quis irure dolor sit non duis laborum. Aliquip officia et duis ut sunt pariatur eu excepteur. 
                    Excepteur minim fugiat irure do nulla reprehenderit Lorem in.
                    Adipisicing est ipsum aliqua velit veniam proident ullamco nisi id. Ipsum officia tempor et excepteur 
                    nulla deserunt ullamco quis proident nisi. Ut aute Lorem enim cillum. Ipsum exercitation amet culpa amet 
                    et deserunt exercitation minim laborum. Incididunt labore eiusmod magna enim sint Lorem ad aliquip 
                    laborum Lorem laborum ea veniam.
                </p>
                <div class="seperator"></div>
                <p>
                    Enim ut in sint proident. Nostrud consectetur excepteur consectetur et cupidatat laborum ullamco duis. 
                    Amet deserunt adipisicing tempor pariatur deserunt anim adipisicing sunt laboris laboris qui aute. 
                    Irure quis irure dolor sit non duis laborum. Aliquip officia et duis ut sunt pariatur eu excepteur. 
                    Excepteur minim fugiat irure do nulla reprehenderit Lorem in.
                    Adipisicing est ipsum aliqua velit veniam proident ullamco nisi id. Ipsum officia tempor et excepteur 
                    nulla deserunt ullamco quis proident nisi. Ut aute Lorem enim cillum. Ipsum exercitation amet culpa amet 
                    et deserunt exercitation minim laborum. Incididunt labore eiusmod magna enim sint Lorem ad aliquip 
                    laborum Lorem laborum ea veniam.
                </p>
            </div>
        </div>
    </section>
</main>

{{template "custom-footer.html" .}}
{{ template "footer.html" .}}