{{set . "title" "Home"}}
{{ append . "moreStyles" "style.css"}}
{{template "header.html" .}}



<!-- Main -->
<main id="main">
  {{ template "custom-header.html" .}}
  <!-- section B-->
  <section id="section-b" class="grid">
    <div class="content-wrap">
      <div class="video-wrapper">
          <video id="my-video" class="video-js" controls preload="auto" width="100%"
          poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src="MY_VIDEO.mp4" type='video/mp4'>
            <source src="MY_VIDEO.webm" type='video/webm'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
      </div>
    </div>
  </section>

  <!-- section c-->
  <section id="section-c" class="grid">
    <div class="content-wrap">
      <div class="news-wrapper">
        <h2>Latest News</h2>
        <ul>
          <li>
            <div class="card">
              <img 
                src="/public/img/rock-concert.jpeg"
                alt="Alt of image"
              />
              <div class="card-content">
                <h3 class="card-title">Web development</h3>
                <p>Aliqua incididunt irure minim velit. Minim consectetur occaecat ut pariatur. Sit eu occaecat fugiat pariatur ut id. Minim velit esse sit irure ea minim fugiat enim consectetur labore ea mollit.</p>
                <div class="control-wrapper">
                  <div>
                    25 Jan 2018
                  </div>
                  <div>
                    <a href="#" class="read-more">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <img 
                src="/public/img/rock-concert-lights.jpeg"
                alt="Alt of image"
              />
              <div class="card-content">
                <h3 class="card-title">Web development</h3>
                <p>Aliqua incididunt irure minim velit. Minim consectetur occaecat ut pariatur. Sit eu occaecat fugiat pariatur ut id. Minim velit esse sit irure ea minim fugiat enim consectetur labore ea mollit.</p>
                <div class="control-wrapper">
                  <div>
                    25 Jan 2018
                  </div>
                  <div>
                    <a href="#" class="read-more">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card">
              <img 
                src="/public/img/freelo_guitar_guy.jpeg"
                alt="Alt of image"
              />
              <div class="card-content">
                <h3 class="card-title">Web development</h3>
                <p>Aliqua incididunt irure minim velit. Minim consectetur occaecat ut pariatur. Sit eu occaecat fugiat pariatur ut id. Minim velit esse sit irure ea minim fugiat enim consectetur labore ea mollit.</p>
                <div class="control-wrapper">
                  <div>
                    25 Jan 2018
                  </div>
                  <div>
                    <a href="#" class="read-more">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <a href="#" class="view-more">View gallery</a>
      </div>
    </div>
  </section>

 
  <!-- section D-->
  <section id="section-d" class="grid">
    <div class="content-wrap">
        <h2 class="content-title">Get notified</h2>
        <form class="email-input" action="#" type="POST">
            <input type="text" class="email-input" placeholder="Enter Email" />
            <input type="submit" class="submit-btn" value="GO!" />
        </form>
        <h3>your email address never will be shared.</h3>
    </div>
  </section>
  <!-- section E-->
  <section id="section-e" class="grid">
    <div class="content-wrap">
      <h2 class="contact-title">Contact</h2>
      <form id="contact-form" action="#" method="POST">
        <label name="name">Name</label>
        <input type="text" name="name" class="contact-input" />
        <label name="email">Email address</label>
        <input type="text" name="email" class="contact-input" />
        <label name="comment">Comment*</label>
        <textarea form="contact-form" name="comment" class="contact-textarea"></textarea>
        <input type="submit" name="submit-comment" class="contact-submit-btn" value="Submit" />
      </form>   
    </div>
  </section>
</main>

{{template "custom-footer.html" .}}
{{template "footer.html" .}}
