{{set . "Title" "Events" }}
{{ append . "moreStyles" "style.css"}}
{{ append . "moreStyles" "events.css"}}
{{ template "header.html" .}}

<!-- Main -->
<main id="main">
    {{ template "custom-header.html" .}}
    <!-- section a -->
    <section id="section-b" class="grid">
        <div class="events-bg"></div>
        <div id="events-wrapper">
            <ul>
                <!-- Header -->
                <li>
                    <div class="events-header">
                        <h6>Upcoming Shows / <span>Local Dates</span></h6>
                    </div>
                </li>
                <li>
                    <div class="date">30 Jan</div>
                    <div class="location">The Venue</div>
                    <div class="city">Tokyo</div>
                    <div class="reserve">
                        <a href="#" class="btn">R.S.V.P</a>
                    </div>
                    <div class="ticket">
                        <a href="#" class="btn">Ticket</a>
                    </div>
                </li>
                <li>
                    <div class="date">30 Jan</div>
                    <div class="location">The Venue</div>
                    <div class="city">Tokyo</div>
                    <div class="reserve">
                        <a href="#" class="btn">R.S.V.P</a>
                    </div>
                    <div class="ticket">
                        <a href="#" class="btn">Ticket</a>
                    </div>
                </li>
                <li>
                    <div class="date">30 Jan</div>
                    <div class="location">The Venue</div>
                    <div class="city">Tokyo</div>
                    <div class="reserve">
                        <a href="#" class="btn">R.S.V.P</a>
                    </div>
                    <div class="ticket">
                        <a href="#" class="btn">Ticket</a>
                    </div>
                </li>
                <li>
                    <div class="date">30 Jan</div>
                    <div class="location">The Venue</div>
                    <div class="city">Tokyo</div>
                    <div class="reserve">
                        <a href="#" class="btn">R.S.V.P</a>
                    </div>
                    <div class="ticket">
                        <a href="#" class="btn">Ticket</a>
                    </div>
                </li>
                <li>
                    <div class="date">30 Jan</div>
                    <div class="location">The Venue</div>
                    <div class="city">Tokyo</div>
                    <div class="reserve">
                        <a href="#" class="btn">R.S.V.P</a>
                    </div>
                    <div class="ticket">
                        <a href="#" class="btn">Ticket</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>

{{template "custom-footer.html" .}}
{{ template "footer.html" .}}