{{set . "title" "Home"}}
{{ append . "moreStyles" "style.css"}}
{{ append . "moreStyles" "home.css"}}
{{template "header.html" .}}



<!-- Main -->
<main id="main">
  {{ template "custom-header.html" .}}
    <!-- About me -->
    <section id="section-b">
        <div class="content">
            <div id="biography">
                <h3>About me Title <span></span></h3>
                <p>Elit est id tempor occaecat eu fugiat quis. Nulla et deserunt velit pariatur sint. 
                    Minim ad aliquip eu tempor nulla irure culpa consectetur. Eiusmod cupidatat anim 
                    eu ad ipsum aute deserunt aliquip cupidatat aliqua adipisicing labore et adipisicing. 
                    Officia Lorem labore labore aliqua occaecat culpa sunt deserunt voluptate dolore 
                    nisi velit consequat ut. Nostrud eiusmod cillum culpa minim.
                </p>
                <div class="inspiration">
                    <h6>If you follow your inspiration you will find your dream.</h6>
                </div>
            </div>
            <div class="poster">
                <img src="/public/img/potrait.jpeg" />
            </div>
        </div>
    </section>
    <!-- Latest Singles -->
    <section id="section-c">
        <div class="hover"></div>
        <div class="content">
            <h1>Latest Music</h1>
            <div id="singles">
                <div class="single">
                    <div class="cover-img">
                        <div class="play-wrapper">
                            <a class="fas fa-play"></a>
                        </div>
                        <img src="/public/img/ed-poster.jpg" />
                    </div>
                    <div class="single-desc">
                        <h5>Song Name</h5>
                        <h6>Single/Album name</h6>
                    </div>
                    <div class="full-track">
                        <a href="#">Full track</a>
                    </div>
                </div>
                <div class="single">
                    <div class="cover-img">
                        <div class="play-wrapper">
                            <a class="fas fa-play"></a>
                        </div>
                        <img src="/public/img/ed-poster.jpg" />
                    </div>
                    <div class="single-desc">
                        <h5>Song Name</h5>
                        <h6>Single/Album name</h6>
                    </div>
                    <div class="full-track">
                        <a href="#">Full track</a>
                    </div>
                </div>
                <div class="single">
                    <div class="cover-img">
                        <div class="play-wrapper">
                            <a class="fas fa-play"></a>
                        </div>
                        <img src="/public/img/ed-poster.jpg" />
                    </div>
                    <div class="single-desc">
                        <h5>Song Name</h5>
                        <h6>Single/Album name</h6>
                    </div>
                    <div class="full-track">
                        <a href="#">Full track</a>
                    </div>
                </div>
            </div>
            <a class="more-btn" href="#">Explore more</a>
        </div>
    </section>
    <!-- Gallery -->
    <section id="section-d">
        <h1>Gallery</h1>
        <div id="gallery">
            <div class="gallery-image">
                <a href="#">
                    <img src="/public/img/1.jpeg" alt="1st image"/>
                </a>
            </div>

            <div class="gallery-image">
                <a href="#">
                    <img src="/public/img/2.jpeg" alt="1st image"/>
                </a>
            </div>
            <div class="gallery-image">
                <a href="#">
                    <img src="/public/img/3.jpeg" alt="1st image"/>
                </a>
            </div>
            <div class="gallery-image">
                <a href="#">
                    <img src="/public/img/4.jpeg" alt="1st image"/>
                </a>
            </div>
            <div class="gallery-image">
                <a href="#">
                    <img src="/public/img/5.jpg" alt="1st image"/>
                </a>
            </div>
            <div class="gallery-image">
                <a href="#">
                    <img src="/public/img/6.jpg" alt="1st image"/>
                </a>
            </div>
        </div>
    </section>
    <!-- Twitting -->
    <section id="section-e">
        <form action="#" method="POST" id="contact-form">
            <h3 class="contact-title">Contact me</h3>
            <div class="name-email">
                <div class="name">
                    <label for="name" name="name">Name</label>
                    <input type="text" name="name" />
                </div>
                <div class="email">
                    <label for="name" name="email">Email</label>
                    <input type="text" name="email" />
                </div>
            </div>
            <div class="message-wrapper">
                <label for="message" name="message">Message</label>
                <textarea name="message"></textarea>
            </div>
            <input type="submit" class="contact-submit-btn" value="Submit"/>
        </form>
    </section>
</main>

{{template "custom-footer.html" .}}
{{template "footer.html" .}}