{{set . "Title" "Media" }}
{{ append . "moreStyles" "style.css"}}
{{ append . "moreStyles" "media.css"}}
{{ template "header.html" .}}

<!-- Main -->
<main id="main">
    {{ template "custom-header.html" .}}
    <!-- section b -->
    <section id="section-b" class="grid">
        <div id="media-wrapper">
            <!-- Media controller -->
            <div id="media-control">
                <div class="media-btn">
                    <a href="#" class="active">Video</a>
                </div>
                <div class="media-btn">
                    <a href="#">Music</a>
                </div>
            </div>
            <!-- Media content -->
            <div id="media-content-wrapper">
                <!-- Video Player 
                <div id="video-player">
                    <div class="video-wrapper">
                        <video id="my-video" class="video-js" controls preload="auto" width="100%"
                        poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                            <source src="MY_VIDEO.mp4" type='video/mp4'>
                            <source src="MY_VIDEO.webm" type='video/webm'>
                            <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                    <div class="list-wrapper">
                        <ul>
                            <li>
                                <div class="video-thumbnail">
                                    <a href="#" class="img-wrapper">
                                        <img src="/public/img/keyboard.jpeg" alt="Video alt" />
                                        <div class="duration">3:30</div>
                                    </a>
                                </div>
                                <div class="video-description">
                                    <a href=#>Camila Cabello - Havana (Lyrics) (ft. Young Thug)</a>
                                    <h6>Atlantic Studio</h6>
                                </div>
                            </li>
                            <li>
                                <div class="video-thumbnail">
                                    <a href="#" class="img-wrapper">
                                        <img src="/public/img/keyboard.jpeg" alt="Video alt" />
                                        <div class="duration">3:30</div>
                                    </a>
                                </div>
                                <div class="video-description">
                                    <a href=#>Camila Cabello - Havana (Lyrics) (ft. Young Thug)</a>
                                    <h6>Atlantic Studio</h6>
                                </div>
                            </li>
                            <li>
                                <div class="video-thumbnail">
                                    <a href="#" class="img-wrapper">
                                        <img src="/public/img/keyboard.jpeg" alt="Video alt" />
                                        <div class="duration">3:30</div>
                                    </a>
                                </div>
                                <div class="video-description">
                                    <a href=#>Camila Cabello - Havana (Lyrics) (ft. Young Thug)</a>
                                    <h6>Atlantic Studio</h6>
                                </div>
                            </li>
                            <li>
                                <div class="video-thumbnail">
                                    <a href="#" class="img-wrapper">
                                        <img src="/public/img/keyboard.jpeg" alt="Video alt" />
                                        <div class="duration">3:30</div>
                                    </a>
                                </div>
                                <div class="video-description">
                                    <a href=#>Camila Cabello - Havana (Lyrics) (ft. Young Thug)</a>
                                    <h6>Atlantic Studio</h6>
                                </div>
                            </li>
                            <li>
                                <div class="video-thumbnail">
                                    <a href="#" class="img-wrapper">
                                        <img src="/public/img/keyboard.jpeg" alt="Video alt" />
                                        <div class="duration">3:30</div>
                                    </a>
                                </div>
                                <div class="video-description">
                                    <a href=#>Camila Cabello - Havana (Lyrics) (ft. Young Thug)</a>
                                    <h6>Atlantic Studio</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                -->
                <!-- Music Player-->
                <div id="music-player">
                    <div id="player-header">
                        <img src="/public/img/poster.jpeg" class="song-cover"/>
                        <div id="song-info">
                            
                            <div class="info-wrapper">
                                <div class="blur">
                                    <img src="/public/img/poster.jpeg" class="song-cover"/>
                                </div>
                                <div class="info">
                                    <h5>Perfect</h5>
                                    <h6>by Ed Sheeran</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="player-control">
                        <div id="time-control">
                            <div class="current-time">
                                0:40
                            </div>
                            <div class="seeker-bar-container">
                                <div class="seeker-bar">
                                    <div class="filler"></div>
                                    <div class="handler"></div>
                                </div>
                            </div>
                            <div class="song-duration">
                                3:20
                            </div>
                        </div>
                        <div id="play-control">
                            <div class="control-btn">
                                <a href="#">
                                    <i class="fas fa-random shuffle"></i>
                                </a>
                            </div>
                            <div class="control-btn">
                                <a href="#">
                                    <i class="fas fa-step-backward"></i>
                                </a>
                            </div>
                            <div class="control-btn">
                                <a class="circle-border">
                                    <i class="fas fa-play"></i>
                                    <!--<i class="fas fa-pause"></i>-->
                                </a>
                            </div>
                            <div class="control-btn">
                                <a href="#">
                                    <i class="fas fa-step-forward"></i>
                                </a>
                            </div>
                            <div class="control-btn">
                                <a href="#">
                                    <i class="fas fa-sync repeat"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="song-list">
                        <ul>
                            <li class="song">
                                <a href="#">Shape of you <span>by Ed Sheeran</span></a>
                            </li>
                            <li class="song">
                                <a href="#">Avalanche <span>by Bring me the Horizon </span></a>
                            </li>
                            <li class="song">
                                <a href="#">The Scientist <span>by Cold play</span></a>
                            </li>
                            <li class="song">
                                <a href="#">Thunder <span>by Imagine Dragons</span></a>
                            </li>
                            <li class="song">
                                <a href="#">Scared to be lonely <span>by Dua Lips ft Martin Garrix</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{template "custom-footer.html" .}}
{{ template "footer.html" .}}