{{set . "Title" "Other" }}
{{ append . "moreStyles" "style.css"}}
{{ append . "moreStyles" "other.css"}}
{{ template "header.html" .}}

<!-- Main -->
<main id="main">
    {{ template "custom-header.html" .}}
    <h1>There is no content ATM.</h1>
</main>

{{template "custom-footer.html" .}}
{{ template "footer.html" .}}