{{set . "title" "News Index"}}
{{ append . "moreStyles" "style-news.css" }}
{{ template "header.html" .}}
<div class="fixed-bg"></div>
<div id="main">
    <div id="menu-wrapper">
        <div id="menu">
            <ul>
                <li><a href="{{url "NewsController.Index"}}">News</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Something</a></li>
            </ul>
        </div>
    </div>
    <div id="content-wrapper">
        <div id="_react_component" data-news="{{.allNews}}" data-news-json="{{.JSONNews}}" data-count="{{.count}}" data-raw="{{ .data }}"></div>
        <script src="/public/React/bundle/News_bundle.js"></script>
        <!-- <div class="content-container">
            <div class="title">
                <h1>Add News</h1>
            </div>
            <div id="content">
                {{ template "flash.html" .}}
                {{ if .allNews }}
                    <ul>
                        <li>
                            <div class="item-index"></div>
                            <div class="item-title center">Title</div>
                            <div class="item-context center">Context</div>
                            <div class="item-date">Date</div>
                            <div class="center">
                                Controls
                            </div>
                        </li>

                        {{range $key, $value :=  .allNews }}
                            <li>
                                <div class="item-index">
                                        <script type="text/javascript">
                                            var index =  {{ $key }};
                                            document.writeln(index+1);
                                        </script>
                                </div>
                                <div class="item-title">{{ $value.Title }}</div>
                                <div class="item-context">
                                    {{shorten $value.Context 35}}...
                                </div>
                                <div class="item-date">
                                    <script type="text/javascript">
                                        var date =  {{ $value.UpdatedAt }};
                                        document.writeln(moment(date).format("LL"));
                                    </script>
                                </div>
                                <div class="controls">
                                    <div class="action-btn">
                                        <a href="#" class="far fa-edit"></a>
                                        <span>Edit</span>
                                    </div>
                                    <div class="action-btn">
                                        <a href="/DeleteNews/{{$value.NewsID}}" class="far fa-trash-alt"></a>
                                        <span>Delete</span>
                                    </div>
                                </div>
                            </li>
                        {{end}}
                    </ul>
                {{ end }}
                <div id="_react_component" data-news="{{.allNews}}"></div>
                <script src="/public/React/bundle/News_bundle.js"></script>
                <form action="{{ url "NewsController.AddNews"}}" method="POST" id="news-form" enctype="multipart/form-data">
                    <label for="title">Title</label>
                    <input type="text" class="title-input" name="title">
                    <label for="context">Context</label>
                    <textarea name="context" class="context-input"></textarea>
                    <label for="image">Image</label>
                    <input type="file" name="imgFile" value="Choose Image" accept="image/*"/>
                    <input type="submit" value="Publish" class="publish-btn">
                </form>
            </div>
            <div class="paginator">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <div class="add-news">
                <a href="#">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
        </div> -->
    </div>
</div>

<script type="text/javascript">
var hoge = 'nomin'
</script>
{{template "footer.html" .}}