<div id="main-footer">
    <div class="socials-wrapper">
      <div class="icons-wrapper">
        <a href="#" class="social-btn insta"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-btn fb"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-btn twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-btn google-plus"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social-btn spotify"><i class="fab fa-spotify"></i></a>
      </div>
      <div class="warning-wrapper">
        <p>This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies. </p>
      </div>
      
    </div>
    <div class="rights-wrapper">
      <p>© Legacy Production MN / Bio.G</p>
    </div>
</div>