
<!-- Header showcase-->
<header id="showcase" class="grid">
    <div class="overlay"></div>
    <div class="bg-image"></div>
    <div class="quote">
        <p>Where words fail, music speaks.</p>
        <h2>Hans Christian Andersen</h2>
    </div>
</header>
    <!-- section A-->
<section id="section-a" class="grid">
    <div class="content-wrap">
        <ul>
            <li><a href="{{url "App.Index"}}">Home</a></li>
            <!--
            <li><a href="{{url "App.Media"}}">Music + Video</a></li>
            -->
            <li><a href="{{url "App.Blog"}}">Blog</a></li>
            <li><a href="{{url "App.Events"}}">Events</a></li>
            <li><a href="{{url "App.Other"}}">Other</a></li>
        </ul>
    </div>
</section>